{# templates/quiz/quiz.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}

{{ form_start(form) }}

<div class="choices">
    {% for key, child in form.children %}
        <div class="choice">
            {{ form_row(child) }}
        </div>
    {% endfor %}
</div>

{# {{ form_rest(form) }} #}
<button type="submit">Submit</button>

{{ form_end(form) }}
{% endblock %}
