{% extends 'base.html.twig' %}

{% block title %}VertDemain - FAQ{% endblock %}

{% block body %}

<div class="faq-wrapper">
    <ol>
    {% for faq in faqList %}
    <li>{{ faq.question }}</li>
    <ul>
        <li>{{ faq.answer }}</li>
        <li><a href="{{faq.source}}">{{ faq.source }}</a></li>
    </ul>
    {% endfor %}
    </ol>
</div>
{% endblock %}
