{% extends 'base.html.twig' %}


{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <!-- contact section start -->
    <form action="{{ path('app_login') }}" method="post">
    <div class="contact_section layout_padding">
      <div class="container">
         <h1 class="contact_taital">Se connecter</h1>
         <div class="email_text">
            <div class="form-group">
               <input type="text" class="email-bt" placeholder="Username" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="form-group">
               <input type="password" class="email-bt" placeholder="Mot de passe" id="password" name="_password">
            </div>
            <button type="submit send_btn" class="btn">Se connecter</button>
         </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <a class="" href="{{ path('app_register') }}">Pas encore inscrit ? Allez vers la page d'inscription</a>
      </div>
    </div>
    </form>
   <!-- contact section end -->
{% endblock %}