{% extends 'base.html.twig' %}

{% block title %}VertDemain - Quiz{% endblock %}

{% block body %}
<div class="contact_section layout_padding">
    <h1 class="contact_taital mb-5">QUIZ</h1>
    {{ form_start(form) }}
    <div class="client_section_2 container">
        {% for key, child in form.children %}
            <div class="question">
                <div class="titleQuestion">
                    <h2>{{ form_label(child) }}</h2>
                </div>
                <div class="réponse">
                    <div class="d-flex justify-content-center mt-2 gap-5">
                        {{ form_widget(child) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-3">
       <button type="submit send_btn" class="btn">Valider mes réponses</button>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
