{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}VertDemain - 418{% endblock %}
{% block body %}

<div class="contact_section layout_padding">
    <div class="client_section_2 container">
        <div class="question">
            <img src="{{ asset('images/teapot2.png') }}" alt="I am a teapot">
            <div class="titleQuestion">
                <h2>We don't have coffee here</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}